
.testimonial {

    padding-left: 10px;
    margin-bottom: 20px;
    
}
.costumerPicture {
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;

}
body{
    padding-bottom: 60px;
    background-color: rgb(213, 185, 148);
}